#taskdate, #tasktitle {
    margin: 0 10px;
}

table, tr {
    width: 100%
}

td{padding-top: 10px;}

tr {
    border-bottom: 1px solid gray;
}

#functionBar {
    text-align: end
}

.functionButton {
    width: 30px;
    margin-left: 5px;
}

.functionButton:hover {
    cursor: pointer;
}

#taskdesc {
    font-size: 15px;
    color: grey;
}

#taskdate {
    padding: 5px;
    background-color: rgb(221, 221, 221);
    border-left: 4px solid rgb(230, 0, 0);
    border-radius: 5px;;
}

#noTask {
    text-align: center;
}