#taskdate, #tasktitle {
    margin: 0 20px;
}

#deleteTask {
    width: 30px;
}

#deleteTask:hover {
    width: 30px;
    cursor: pointer;
}

#taskdesc {
    font-size: 15px;
    color: grey;
}

#taskdate {
    padding: 5px;
    background-color: rgb(221, 221, 221);
    border-left: 4px solid rgb(230, 0, 0);
    border-radius: 5px;;
}